@font-face {
    font-family: Another;
    src: url('/fontes/Another\ Danger\ Slanted\ -\ Demo.otf');
}
  
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    overflow-x: hidden;
    height: 100vh;
    background-color: whitesmoke;
}

.logo{
    display: flex;
    width: 100vw;
    height: 8vh;
    position: fixed;
    justify-content: center;
    align-content: center;
    z-index: 999;
}

.logo img{
    width: 100px;
    height: 100px;
}

#header{
    height: 60px;
    width: 100vw;
    background-color: black;
    border-bottom: 1px solid red;
    position: fixed;
    z-index: 2;
}

#sub-menu{
    width: 50vw;
    margin-top: 8.7vh;
    margin-left: 100%;
    height: 91.25vh;
    position: fixed;
    background-color: black;
    opacity: 0;
    justify-content: center;
    align-content: center;
}

#sub-menu ul li{
    list-style: none;
    text-align: center;
    transform: scale(0);
    padding-top: 8vh;
    padding-bottom: 8vh;
}

#sub-menu ul li:hover{
    background-color: rgb(43, 43, 43);
}

#sub-menu a{
    font-size: 40px;
    color: white;
    text-decoration: none;
    margin-bottom: 40px;
    font-family: 'Oswald', sans-serif;
}

#nav{
    position: absolute;
    margin-left: 95vw;
    margin-top: 15px;
    right: 1vw;
    cursor: pointer;
    z-index: 999;
}

#line1, #line2, #line3{
    background-color: white;
    width: 40px;
    height: 3px;
    transition: 0.2s ease-in;
}

#line2{
    margin-top: 10px;
}

#line3{
    margin-top: 10px;
}

.background img{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 0;
}

.cards{
    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.cards .card{
    height: 40vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: gray;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    max-height: 256px;
    margin-left: 32px;
    border: 2px solid red;
    font-family: 'Oswald', sans-serif;
    box-shadow: 0px 10px 10px 0px black;
}

.cards section.card:first-child{
    margin-left: 0;
}

.card a{
    align-self: center;
    text-decoration: none;
    color: red;
    font-family: another;
    font-size: 20px;
    position: absolute;
    top: 75%;
}

.card h1{
    color: red;
    background-color: indigo;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

#header.active #sub-menu{
    margin-left: 50vw;
    opacity: 85%;
    transition: 0.1s ease-in;
}

#header.active ul li{
    cursor: pointer;
    transform: scale(1);
    margin-left: 0vw;
    transition: 0.2s ease-in;
}

#header.active #line1{
    margin-top: 10px;
    transform: rotate(45deg);
    transition: 0.2s ease-in;
}

#header.active #line2{
    opacity: 0;
    transition: 0.2s ease-in;
}

#header.active #line3{
    margin-top: -16px;
    transform: rotate(-45deg);
    transition: 0.2s ease-in;
}

@media screen and (max-width: 600px) {
    .logo{
        justify-content: left;
    }
    
    .logo img{
        width: 200px;
        height: 200px;
    }
    
    #header{
        height: 15vh;
        border-bottom: 4px solid red;
        position: fixed;
        z-index: 999;
    }

    #nav{
        position: absolute;
        margin-left: 95vw;
        margin-top: 15px;
        right: 1vw;
        cursor: pointer;
        z-index: 1000;
    }

    #sub-menu{
        width: 100vw;
        height: 100vh;
        margin-top: 15vh;
    }

    #sub-menu ul li{
        padding-top: 12.5vh;
        padding-bottom: 12.5vh;
    }

    #sub-menu a{
        position: relative;
        font-size: 72px;
    }

    .cards{
        margin-top: 75vh;
        display: block;
        position: absolute;
    }

    .cards .card{
        margin-top: 15vh;
        height: 60vh;
        width: 70vw;
        background: gray;
        border: 2px solid red;
        box-shadow: 0px 10px 10px 0px black;
        max-height: none;
        margin-left: 0;
        position: relative;
    }

    .card span{
        font-size: 52px;
    }

    .card a{
        align-self: center;
        position: absolute;
        margin-bottom: 0;
        font-size: 36px;
        text-shadow: 0 0 10px white;
    }

    .card h1{
        text-align: center;
        font-size: 52px;
        color: red;
        background-color: indigo;
        width: 100%;
        height: 20%;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    #card3{
        height: 75vh;
    }
    
    #line1, #line2, #line3{
        background-color: white;
        width: 90px;
        height: 10px;
        transition: 0.2s ease-in;
        margin-top: 1vh;
        margin-right: 1vw;
    }
    
    #line2{
        margin-top: 2vh;
    }
    
    #line3{
        margin-top: 2vh;
    }

    #header.active #sub-menu{
        margin-left: 0;
    }

    #header.active #line1{
        margin-top: 4vh;
        transform: rotate(45deg);
        transition: 0.2s ease-in;
    }
    
    #header.active #line2{
        opacity: 0;
        transition: 0.2s ease-in;
    }
    
    #header.active #line3{
        margin-top: -4.25vh;
        transform: rotate(-45deg);
        transition: 0.2s ease-in;
    }

}