*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
    height: 100vh;
    background-image: linear-gradient(purple, red);
}


.logo{
    position: fixed;
    margin-left: 23vw;
    margin-top: 8px;
}

.logo img{
    width: 100px;
    height: 100px;
}

.title{
    color: white;
    font-size: 20px;
    position: fixed;
}

#header{
    height: 60px;
    width: 100vw;
    background-color: black;
    border-bottom: 1px solid red;
    position: fixed;
    z-index: 999;
}

#sub-menu{
    margin-left: 110vw;
    margin-top: 60px;
    height: 99vh;
    position: absolute;
    background-color: black;
    opacity: 0;
    display: block;
    z-index: 998;
}

#sub-menu ul li{
    list-style: none;
    text-align: right;
    padding-top: 40px;
    padding-left: 113px;
    padding-right: 20vw;
    padding-bottom: 40px;
    transform: scale(0);
    text-align: right;
    margin-left: 110vw;
}

#sub-menu ul li:hover{
    opacity: 30%;
    background-color: rgb(43, 43, 43);
}

#sub-menu a{
    margin-left: 14vw;
    font-size: 30px;
    color: white;
    text-decoration: none;
    margin-bottom: 40px;
    font-family: 'Oswald', sans-serif;
}

#nav{
    position: absolute;
    margin-left: 95vw;
    margin-top: 15px;
    cursor: pointer;
}

#line1, #line2, #line3{
    background-color: white;
    width: 40px;
    height: 3px;
    transition: 0.2s ease-in;
}

#line2{
    margin-top: 10px;
}

#line3{
    margin-top: 10px;
}

.cards{
    display: flex;
    padding: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cards .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: gray;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    max-height: 256px;
    margin-left: 32px;
    border: 2px solid red;
    font-family: 'Oswald', sans-serif;
}

.cards section.card:first-child{
    margin-left: 0;
}

.card a{
    text-decoration: none;
    color: red;
}

.card h1{
    color: red;
    background-color: indigo;
    border-radius: 2px;
    margin-bottom: 10px;
}


#header.active #sub-menu{
    margin-left: 65vw;
    opacity: 85%;
    transition: 0.2s ease-in;
}

#header.active ul li{
    cursor: pointer;
    transform: scale(1);
    margin-left: 0vw;
    transition: 0.2s ease-in;
}

#header.active #line1{
    margin-top: 10px;
    transform: rotate(45deg);
    transition: 0.2s ease-in;
}

#header.active #line2{
    opacity: 0;
    transition: 0.2s ease-in;
}

#header.active #line3{
    margin-top: -16px;
    transform: rotate(-45deg);
    transition: 0.2s ease-in;
}

@media screen and (max-width: 1024px) {
    .logo{
        position: fixed;
        margin-left: 23.5vw;
        margin-top: 8px;
    }
    
    .logo img{
        width: 100px;
        height: 100px;
    }
    
    .title{
        position: fixed;
        float: left;
        font-size: 12px;
    }

    #nav{
        right: 2%;
    }

    #sub-menu ul li a{
        margin-right: 2%;
    }

    #header.active #sub-menu{
        margin-left: 59.5vw;
    }
    
}
