@font-face {
    font-family: Another;
    src: url('/fontes/Another\ Danger\ Slanted\ -\ Demo.otf');
}
  
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    overflow-x: hidden;
    height: 100vh;
    background-color: whitesmoke;
}

.logo{
    display: flex;
    width: 100vw;
    height: 8vh;
    position: fixed;
    justify-content: center;
    z-index: 999;
}

.logo img{
    width: 100px;
    height: 100px;
}

#header{
    height: 60px;
    width: 100vw;
    background-color: black;
    border-bottom: 1px solid red;
    position: fixed;
    z-index: 999;
}

#sub-menu{
    width: 50vw;
    margin-top: 8.75vh;
    margin-left: 50%;
    height: 91.25vh;
    position: fixed;
    background-color: black;
    opacity: 0;
}

#sub-menu ul li{
    list-style: none;
    text-align: center;
    transform: scale(0);
    padding-top: 8vh;
    padding-bottom: 8vh;
}

#sub-menu ul li:hover{
    background-color: rgb(43, 43, 43);
}

#sub-menu a{
    font-size: 40px;
    color: white;
    text-decoration: none;
    margin-bottom: 40px;
    font-family: 'Oswald', sans-serif;
}

#nav{
    position: absolute;
    margin-left: 95vw;
    margin-top: 15px;
    right: 1vw;
    cursor: pointer;
    z-index: 1000;
}

#line1, #line2, #line3{
    background-color: white;
    width: 40px;
    height: 3px;
    transition: 0.2s ease-in;
}

#line2{
    margin-top: 10px;
}

#line3{
    margin-top: 10px;
}

.center img{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -2;
}

#bordao{
    width: 100vw;
    position: fixed;
    margin-top: 295px;
    align-content: center;
    z-index: -1;
}

#bordao h1{
    text-align: center;
    color: #ff0000;
    font-family: Another;
    font-size: 60px;
    text-shadow: 0 0 5px black;
}

.icons{
    width: 100vw;
    position: absolute;
    display: flex;
    margin-top: 75vh;
    justify-content: center;
    align-content: center;
}

.icons img{
    cursor: pointer;
}

.icons #discord{
    width: 80px;
    opacity: 0.7;
    margin-right: 2vw;
}

.icons #tiktok{
    width: 80px;
    opacity: 0.7;
}

.icons #instagram{
    width: 70px;
    opacity: 0.7;
    margin-right: 2vw;
}

#header.active #sub-menu{
    opacity: 85%;
    transition: 0.2s ease-in;
}

#header.active ul li{
    cursor: pointer;
    transform: scale(1);
    margin-left: 0vw;
    transition: 0.2s ease-in;
}

#header.active #line1{
    margin-top: 10px;
    transform: rotate(45deg);
    transition: 0.2s ease-in;
}

#header.active #line2{
    opacity: 0;
    transition: 0.2s ease-in;
}

#header.active #line3{
    margin-top: -16px;
    transform: rotate(-45deg);
    transition: 0.2s ease-in;
}



@media screen and (max-width: 600px) {
    #sub-menu{
        width: 100vw;
        height: 100vh;
        margin-left: 0vw;
    }
    
    #line1, #line2, #line3{
        background-color: white;
        width: 40px;
        height: 3px;
        transition: 0.2s ease-in;
    }
    
    #line2{
        margin-top: 10px;
    }
    
    #line3{
        margin-top: 10px;
    }
}