@font-face {
    font-family: Another;
    src: url('/fontes/Another\ Danger\ Slanted\ -\ Demo.otf');
}
  
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    overflow-x: hidden;
    height: 100vh;
    background-color: whitesmoke;
    background-image: ("images/cops.png");
}

.logo{
    position: fixed;
    margin-left: 23vw;
    margin-top: 8px;
}

.logo img{
    width: 100px;
    height: 100px;
}

#header{
    height: 60px;
    width: 100vw;
    background-color: black;
    border-bottom: 1px solid red;
    position: fixed;
}

#sub-menu{
    margin-left: 110vw;
    margin-top: 60px;
    height: 99vh;
    position: absolute;
    background-color: black;
    opacity: 0;
    display: block;
    z-index: 1;
}

#sub-menu ul li{
    list-style: none;
    text-align: right;
    padding-top: 40px;
    padding-left: 113px;
    padding-right: 20vw;
    padding-bottom: 40px;
    transform: scale(0);
    text-align: right;
    margin-left: 110vw;
}

#sub-menu ul li:hover{
    opacity: 30%;
    background-color: rgb(43, 43, 43);
}

#sub-menu a{
    margin-left: 14vw;
    font-size: 30px;
    color: white;
    text-decoration: none;
    margin-bottom: 40px;
}

#nav{
    position: absolute;
    margin-left: 95vw;
    margin-top: 15px;
    cursor: pointer;
}

#line1, #line2, #line3{
    background-color: white;
    width: 40px;
    height: 3px;
    transition: 0.2s ease-in;
}

#line2{
    margin-top: 10px;
}

#line3{
    margin-top: 10px;
}

.center img{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -2;
}

#bordao{
    position: fixed;
    margin-top: 295px;
    margin-left: 25vw;
    z-index: -1;
}

#bordao h1{
    text-align: center;
    color: #ff0000;
    font-family: Another;
    font-size: 60px;
    text-shadow: 0 0 5px black;
}

.icons{
    position: fixed;
    margin-top: 550px;
    margin-left: 32%;
}

.icons img{
    cursor: pointer;
    position: fixed;
}

.icons #discord{
    width: 80px;
    margin-left: 200px;
    margin-top: -3px;
    opacity: 0.7;
}

.icons #tiktok{
    width: 80px;
    margin-left: 320px;
    margin-top: -3px;
    opacity: 0.7;
}

.icons #instagram{
    width: 70px;
    margin-left: 80px;
    opacity: 0.7;
}

#header.active #sub-menu{
    margin-left: 65vw;
    opacity: 85%;
    transition: 0.2s ease-in;
}

#header.active ul li{
    cursor: pointer;
    transform: scale(1);
    margin-left: 0vw;
    transition: 0.2s ease-in;
}

#header.active #line1{
    margin-top: 10px;
    transform: rotate(45deg);
    transition: 0.2s ease-in;
}

#header.active #line2{
    opacity: 0;
    transition: 0.2s ease-in;
}

#header.active #line3{
    margin-top: -16px;
    transform: rotate(-45deg);
    transition: 0.2s ease-in;
}

@media screen and (max-width: 1024px) {
    .logo{
        position: fixed;
        margin-left: 23.5vw;
        margin-top: 8px;
    }
    
    .logo img{
        width: 100px;
        height: 100px;
    }

    #bordao{
        position: fixed;
        margin-top: 45vh;
        margin-left: 23vw;
        z-index: -1;
    }
    
    #bordao h1{
        text-align: center;
        color: #ff0000;
        font-family: Another;
        font-size: 50px;
        text-shadow: 0 0 5px black;
    }

    .icons{
        position: fixed;
        margin-top: 80vh;
        margin-left: 30vw;
    }
    
    .icons img{
        cursor: pointer;
        position: fixed;
        opacity: 0.7;
    }
    
    .icons #discord{
        width: 70px;
        margin-left: 200px;
        margin-top: 0px;
        opacity: 0.7;
    }
    
    .icons #tiktok{
        width: 70px;
        margin-left: 320px;
        margin-top: 0px;
        opacity: 0.7;
    }
    
    .icons #instagram{
        width: 60px;
        margin-left: 80px;
        opacity: 0.7;
    }

    #header.active #sub-menu{
        margin-left: 59.5vw;
    }
    
}

@media screen and (max-width: 600px) {

}