*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
    height: 100vh;
    background-image: linear-gradient(to right, red , purple);
}

.logo{
    float: left;
}

.header{
    overflow:hidden;
    background-color: black;
    border: 1px solid red;
}

.header h1{
    color: white;
    text-shadow: -1px 4px 8px white;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    padding: 5px;
    position: absolute;
    font-family: 'Oswald', sans-serif;
}

.header-right{
    float:right;
    list-style: none;
    text-align: center;
    padding: 20px;
}
.header-right a {
    text-decoration:none;
    color: white;
    font-size: 24px;
    padding: 20px 10px;
    text-shadow: -1px 2px 8px white;
}

.header-right a:hover{
    color: red;
    cursor: pointer;
}

.title2{
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-shadow: -1px 2px 8px white;
}